<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | E-Learning System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>

  <div class="container pt-2">
    <%= render "shared/error_messages" %>
  </div>
  
    <%= yield %>
  </body>
</html>
